// app global css in Sass form
$secondary: var(--q-secondary-rgb,#F78F3B)
$primary: var(--q-primary-rgb,#2A3548)

$app-bg-light: linear-gradient(
  to bottom,
  color-mix(in srgb, white, rgb(var(--q-primary-rgb)) 20%) 20%,
  color-mix(in srgb, white, rgb(var(--q-secondary-rgb)) 20%) 100%
)

$app-bg-dark: radial-gradient(ellipse at bottom right, rgba($secondary, 0.3) 0%, transparent 80%), radial-gradient(ellipse at bottom left, rgb($primary), black 80%)

@media screen
  .q-layout
    background-color: inherit

  .q-drawer--standard
    background-color: inherit

  .q-drawer--on-top
    box-shadow: 1px 0 1px rgba($secondary, 0.5)

  .q-header
    z-index: 20
    background: inherit

  .fade-top-overlay
    position: fixed
    left: 0
    right: 0
    height: 4rem
    pointer-events: none
    z-index: 19

    //background-color: red
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed

    // fade to transparent
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%)
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%)

  .create-new-task
    z-index: 21
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    box-shadow: 0 0 2px 1px rgba($primary,0.1) // Adds an outer border with the primary color

  .raw-markdown
    white-space: pre-wrap // This will display newlines and wrap text

  .tasks-container
    padding-top: 20px
    max-width: 800px

    // Specific style for tasks with the 'user' role
    .task-container
      &.user
        //background: linear-gradient(to left, rgba($secondary,0.075), $dark 100%)
        //border-right: 1px solid rgba($secondary, 0.5)
        border: 1px solid rgba($primary,0.8)
        margin-left: 20px

      &:not(.user)
        //background: linear-gradient(to left, rgba($primary,1.0), $dark 100%)
        //border-right: 1px solid rgba($primary, 1.0)
        //border: 1px solid rgb($primary)
        margin-right: 20px

      .message-container
        margin-left: 5px
        margin-right: 5px
        // TODO: make message buttons somehow always appear on screen..  never be hidden..
        .message-buttons
          background: rgba($secondary,0.5)
          position: absolute
          bottom: -2px // To move up by 6px
          left: 20px // To move left by 6px
          opacity: 0
          transition: opacity 0.3s
          //color: rgb($secondary)

        &:hover
          .message-buttons
            opacity: 1

  // common settings for both:  dark & light  
  .body--light
    #q-app
      //background-color: white
      background: $app-bg-light
      // TODO: the following is duplicated in .body--dark:
      background-repeat: no-repeat // prevent background from repeating if content is larger than viewport
      background-size: cover // make sure we always cover entire viewport even if content is smaller
      background-attachment: fixed // fix background to viewport
      text-color: black

    .fade-top-overlay
      // **exact same** gradient
      background: $app-bg-light
      //background-color: red
      background-repeat: no-repeat
      background-size: cover
      background-attachment: fixed

    .q-markdown a:not(h1 a):not(h2 a):not(h3 a):not(h4 a):not(h5 a):not(h6 a)
      color: color-mix(
                in srgb,
                rgb(var(--q-secondary-rgb)),
                rgb(var(--q-primary-rgb))   50%
              )

      &:visited
        color: color-mix(
                in srgb,
                rgb(var(--q-secondary-rgb)),
                rgb(var(--q-primary-rgb))   50%
              )

      &[href^="http://"], &[href^="https://"]
        color: $accent // Replace with a color for external links
        text-decoration: underline

    .welcome-message-text
      filter: drop-shadow(0 0 5px white) drop-shadow(0 0 20px white)

    .welcome
      button
        filter: drop-shadow(0 0 2px white) drop-shadow(0 0 5px white)

    .welcome > .q-icon
      svg
        filter: drop-shadow(0 0 5px white)
      //background: radial-gradient(circle, $primary-light-dark 0%, $primary-light-dark 20%, $primary-light 70%)

    .taskyon-control-button
      background-color: rgba($primary,0.7)
      color: white

    .q-header
      // this is for the text color :)
      color: rgb($primary)

    .q-drawer
      // this is for the text color :)
      color: rgb($primary)

    .button-group
      display: inline-block
      border: 1px solid rgb($primary) /* add white outline */
      border-radius: 5px /* optional, to match the rounded-borders class */

    .create-new-task
      backdrop-filter: blur(40px) brightness(1.0)
      background-color: rgba(white, 0.1) // Adjust transparency as needed
      border: 0.5px solid rgba(white, 0.5)

    .tasks-container
      max-width: 800px

      // Specific s  .q-dark
      color: redtyle for tasks with the 'user' role
      .task-container
        &.user
          border: 1px solid rgba($primary,0.8)

  .body--dark
    #q-app
      background-color: black
      background: $app-bg-dark
      background-repeat: no-repeat // prevent background from repeating if content is larger than viewport
      background-size: cover // make sure we always cover entire viewport even if content is smaller
      background-attachment: fixed // fix background to viewport

    .fade-top-overlay
      // **exact same** gradient
      background: $app-bg-dark
      //background-color: red
      background-repeat: no-repeat
      background-size: cover
      background-attachment: fixed

    .q-markdown a:not(h1 a):not(h2 a):not(h3 a):not(h4 a):not(h5 a):not(h6 a)
      color: rgb($secondary)

      &:visited
        color: color-mix(
                in srgb,
                rgb(var(--q-secondary-rgb)),
                rgb(var(--q-primary-rgb))   50%
              )

      &[href^="http://"], &[href^="https://"]
        color: $accent // Replace with a color for external links
        text-decoration: underline

    .create-new-task
      background-color: rgba($primary, 0.3) // Adjust transparency as needed
      backdrop-filter: blur(40px) brightness(0.6)
      border: 0.5px solid rgba(white, 0.1)
      border-bottom: none

    .taskyon-control-button
      background-color: rgba($secondary,0.7)

    .button-group
      display: inline-block
      border: 1px solid white /* add white outline */
      border-radius: 5px /* optional, to match the rounded-borders class */

    .tasks-container
      // Specific style for tasks with the 'user' role
      .task-container
        background-color: rgba($dark,1.0)
        &.user
          border: 1px solid rgba($secondary,0.3)

        .message-container
          margin-left: 5px
          margin-right: 5px

@media print
  /* Hide everything initially */
  .body
    visibility: hidden
    //background-color: blue // Set the background color to white for printing

  /* Ensure .body--light and .body--dark don't affect print background */
  .body--light, .body--dark
    background-color: white

  .q-drawer
    visibility: hidden

  .tasks-container>div
    border-bottom: 1px solid grey

  .q-header
    visibility: hidden

  /* Override the page container padding for print */
  .q-page-container
    padding: 0 !important
    background-color: white

  .q-page
    background-color: white
    position: absolute
    left: 0
    top: 0
    width: 100%
    margin: 0
    padding: 0
    box-shadow: none /* Remove shadows, if any */
    min-height: 0 !important /* Override min-height if necessary */
