// app global css in Sass form

$secondary: var(--q-secondary-rgb)
$primary: var(--q-primary-rgb)

$app-bg-light: linear-gradient(
  to bottom,
  color-mix(in srgb, white, rgb(var(--q-primary-rgb)) 20%) 20%,
  color-mix(in srgb, white, rgb(var(--q-secondary-rgb)) 20%) 100%
)

$app-bg-dark: radial-gradient(ellipse at bottom right, rgba($secondary, 0.3) 0%, transparent 80%), radial-gradient(ellipse at bottom left, rgb($primary), black 80%)

@media screen
  .q-layout
    background-color: inherit

  .q-drawer--standard
    background-color: inherit

  .q-drawer--on-top
    box-shadow: 1px 0 1px rgba($secondary, 0.5)

  .q-header
    z-index: 20
    background: inherit

  .object-tree-view
    color: inherit

  .fade-top-overlay
    position: fixed
    left: 0
    right: 0
    height: 4rem
    pointer-events: none
    z-index: 19

    //background-color: red
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed

    // fade to transparent
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%)
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%)

  .create-new-task-container
    z-index: 21
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    box-shadow: 0 0 2px 1px rgba($primary,0.1) // Adds an outer border with the primary color

  .raw-markdown
    white-space: pre-wrap // This will display newlines and wrap text

  .chat-drop-zone
    color: rgb($secondary)

  .tasks-container
    padding-top: 20px
    max-width: 800px

    // we try to do all of the following in order to really make sure
    // that the task containers are not too wide, and that they are
    // centered in the screen
    width: 100%
    box-sizing: border-box
    min-width: 0

    // Specific style for tasks with the 'user' role
    .task-container
      margin-bottom: 15px
      padding-left: 5px
      padding-right: 5px
      border-radius: 5px

      &.user
        //background: linear-gradient(to left, rgba($secondary,0.075), $dark 100%)
        //border-right: 1px solid rgba($secondary, 0.5)
        border: 1px solid rgba($primary,0.8)
        margin-left: 20px

      &:not(.user)
        //background: linear-gradient(to left, rgba($primary,1.0), $dark 100%)
        //border-right: 1px solid rgba($primary, 1.0)
        //border: 1px solid rgb($primary)
        margin-right: 20px

  .scroll-area
    white-space: pre-wrap
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3)
    max-height: 300px // Adjust this value based on your needs
    overflow-y: auto
    margin-bottom: 5px
    width: auto // Ensures it takes the necessary width up to its parent's maximum
    min-width: 100% // Ensures it stretches to at least the width of its parent

  .debug-container
    padding-top: 5px

  .message-display
    position: relative

    // TODO: make message buttons somehow always appear on screen..  never be hidden..
    .message-buttons
      border-radius: 5px
      z-index: 10
      //border: 1px solid rgb($primary)
      background: white
      color: rgb($primary)
      position: absolute
      bottom: -20px // shift it 10px downward
      //bottom: 0px
      right: 0px
      opacity: 0
      transition: opacity 1s
      display: flex
      flex-wrap: nowrap
      white-space: nowrap

    &:hover
      .message-buttons
        opacity: 1

  // common settings for both:  dark & light  
  .body--light
    #q-app
      //background-color: white
      background: $app-bg-light
      // TODO: the following is duplicated in .body--dark:
      background-repeat: no-repeat // prevent background from repeating if content is larger than viewport
      background-size: cover // make sure we always cover entire viewport even if content is smaller
      background-attachment: fixed // fix background to viewport
      text-color: black

    .fade-top-overlay
      // **exact same** gradient
      background: $app-bg-light
      //background-color: red
      background-repeat: no-repeat
      background-size: cover
      background-attachment: fixed

    .welcome-message-text
      filter: drop-shadow(0 0 5px white) drop-shadow(0 0 20px white)

    .welcome
      button
        filter: drop-shadow(0 0 2px white) drop-shadow(0 0 5px white)

    .welcome > .q-icon
      svg
        filter: drop-shadow(0 0 5px white)
      //background: radial-gradient(circle, $primary-light-dark 0%, $primary-light-dark 20%, $primary-light 70%)

    .taskyon-control-button
      background-color: rgba($primary,0.7)
      color: white

    .q-header
      // this is for the text color :)
      color: rgb($primary)

    .q-drawer
      // this is for the text color :)
      color: rgb($primary)

    .button-group
      display: inline-block
      border: 1px solid rgb($primary) /* add white outline */
      border-radius: 5px /* optional, to match the rounded-borders class */

    .create-new-task-container
      backdrop-filter: blur(40px) brightness(1.0)
      background-color: rgba(white, 0.1) // Adjust transparency as needed
      border: 0.5px solid rgba(white, 0.5)

    .task-container
      background-color: white
      &.user
        border: 1px solid rgba($primary,0.8)

  .body--dark
    #q-app
      background-color: black
      background: $app-bg-dark
      background-repeat: no-repeat // prevent background from repeating if content is larger than viewport
      background-size: cover // make sure we always cover entire viewport even if content is smaller
      background-attachment: fixed // fix background to viewport

    .fade-top-overlay
      // **exact same** gradient
      background: $app-bg-dark
      //background-color: red
      background-repeat: no-repeat
      background-size: cover
      background-attachment: fixed

    .create-new-task-container
      background-color: rgba($primary, 0.3) // Adjust transparency as needed
      backdrop-filter: blur(40px) brightness(0.6)
      border: 0.5px solid rgba(white, 0.1)
      border-bottom: none

    .taskyon-control-button
      background-color: rgba($secondary,0.7)

    .message-buttons
      background: $dark
      color: rgb($secondary)

    .button-group
      display: inline-block
      border: 1px solid white /* add white outline */
      border-radius: 5px /* optional, to match the rounded-borders class */

    .task-container
      background-color: rgba($dark,1.0)
      &.user
        border: 1px solid rgba($secondary,0.3)

@media print
  /* Hide everything initially */
  .body
    visibility: hidden
    //background-color: blue // Set the background color to white for printing

  /* Ensure .body--light and .body--dark don't affect print background */
  .body--light, .body--dark
    background-color: white

  .q-drawer
    visibility: hidden

  .tasks-container>div
    border-bottom: 1px solid grey

  .q-header
    visibility: hidden

  /* Override the page container padding for print */
  .q-page-container
    padding: 0 !important
    background-color: white

  .q-page
    background-color: white
    position: absolute
    left: 0
    top: 0
    width: 100%
    margin: 0
    padding: 0
    box-shadow: none /* Remove shadows, if any */
    min-height: 0 !important /* Override min-height if necessary */

  .task-logs, .task-costs, .message-buttons, .code-buttons, .task-browser-buttons, .create-new-task-container, .task-control-buttons
    visibility: hidden

@import 'src/css/markdown'
