// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//$primary   : #1976D2
//$secondary : #26A69A
//$accent    : #9C27B0

//$dark      : #1D1D1D

//$positive  : #21BA45
//$negative  : #C10015
//$info      : #31CCEC
//$warning   : #F2C037

$secondary: #F78F3B
$primary: #2A3548
$accent: #7fa042
$dark: #0d1117
$positive: #7fa042
$negative: #a04242
$info: #8BA7B9
$warning: #ff0000

$dark-shadow-color: $secondary

//derived colors
$tools: scale-color($secondary, $lightness: 80%)
$bg-tools: scale-color($secondary, $lightness: 80%)
$primary-light: scale-color($primary, $lightness: 80%)
$primary2: scale-color($primary, $blackness: 30%)
$text-tools: $primary
//$tools2: scale-color($primary, $lightness: 80%)
